$font-main: "Noto Sans TC", system-ui, sans-serif;
$font-color: #333;

$body-bg: linear-gradient(135deg, #fff8e1 0%, #ffecb3 50%, #ffe082 100%);

$base-background-color: #fffbe6;
$base-border-color: #e0dab8;
